.navbar {
    -fx-background-color: #FAF0E6;
}

.bInd{
-fx-background-color: rgba(248, 248, 255, 0.5);
}
.barbar{
    -fx-background-color: #FAF0E6;
}

.menu-active{
    -fx-background-color: #ffffff;
}